torch==2.0.1
torchvision
diffusers
transformers
datasets
accelerate
tensorboard
tqdm
scipy
wandb
safetensors
opencv-python
mediapipe
pynvml
cache
xformers
torchmetrics
--extra-index-url https://download.pytorch.org/whl/cu118
